body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-width: 1024px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  }
  
  .logo {
  max-height: 150%;
  }
  
  .button-container {
  display: flex;
  margin-left: calc(50% - 300px);
  }
  
  .button-container > button > img {
  height: 40px;
  width: 40px;
  }
  
  .button-container > button {
  background: none;
  border: none;
  margin: 0 24px;
  text-shadow: 1px 1px 2px rgba(2, 131, 254 ,0.3);
  color: #0282fe;
  font-weight: 600;
  cursor: pointer;
  }
  
  .button-container > button > .services {
  width: 60px;
  }
  
  .contact-us {
  background: #0282fe;
  border: none;
  margin-left: auto;
  margin-right: 16px;
  border-radius: 16px;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .banner-container {
  display: flex;
  justify-content: center;
  }
  
  .banner {
  max-width: 100%;
  max-height:100%;
  }
 .banner{
   margin-top:100px;
 }
 .about0
 {
   max-width:100%;
   max-height:100%;
 }
 .about1 > button{
  width:280px;
  height:60px;
  
}

 .about1
 {
   
   display:flex;
   justify-content: center;
   
 }
 /* .about2
 {
  background:white;
  border: 1px solid  #0282fe;
  margin-right: 630px;
  border-radius: 50px ;
  padding: 10px 10px;
  
  font-size: 30px;
  cursor: pointer;
  color:blue;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 } */
 .about2{
  background: white;
  border: 1px solid #0282fe ;
  
 
  border-radius: 40px;
  font-size:20px;
  cursor: pointer;
  color:  rgba(0, 0, 255, 0.795);
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

 }
 .about2 h1{
   margin-top:5px;
 }
 .about4
 {
  margin-left: calc(50% - 220px);
  margin-top:25px;
  
 }
 .about5
 {
  margin-left: calc(50% - 100px);
 }
  .about6
  {
    background-image:url("/assets/img/lap.jpg");
    background-size:cover;
    width:800px;
    height:500px;
    margin-left: calc(50% - 400px);
    margin-top:20px;
    
  }
  .about7 h1
  {
    color:white;
    padding-top:450px;
    text-align:center;
    font-size:30px;
    
  }
  .about8 > button{
    width:280px;
    height:60px;
    
  }
  .about8
  {
    display:flex;
    justify-content: center;
    margin-top:40px;
    margin-bottom:250px;
  }
  .about9
  {
    background: white;
    border: 1px solid #0282fe ;
    border-radius: 40px;
    font-size:16px;
    cursor: pointer;
    color:  rgba(0, 0, 255, 0.795);
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  }
  .about9 h1{
    margin-top:8px;
  }
  .serv{
    display:flex;
    justify-content: center;
  }
  .service1
  {
    background:white;
    width:400px;
    height:550px;
    margin-left: 24px;
    box-shadow: 0 4px 8px 0 white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .service1 .service2{
     display: flex;
     justify-content: center;
  }
  .service3
  {
    background:white;
    width:400px;
    z-index: 10;
    height:550px;
    box-shadow: 0 4px 8px 0 white;
    margin:0 -50px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .service3 .service4{
      display: flex;
      justify-content: center;
  }

  .service4 > img {
    width : 266px;
     height:189 px;
  }
  .service5
  {
    background:white;
    width:400px;
    margin-right: 24px;
    height:550px;
    box-shadow: 0 4px 8px 0 white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .service5 .service6{
    display: flex;
    justify-content: center;
  }

  .service6 > img {
    width : 150px;
    height: 50 px;
  }
  .content1
  {
    margin-left: 60px;
    font-size: 20px;
    margin-right: 50px;
  }
  .content2
  {
    margin-left: 60px;
    margin-right: 48px;
    
  }
  .content3 div
  {
    margin-left:60px;
    margin-top:20px;
    margin-bottom:20px;
  }
 .serv6
 {
   margin-top:300px;
 }
 .serv7 > button{
  width:385px;
  height:100px;
  
}
.serv7
 {
   
   display:flex;
   justify-content: center;
   
 }
.serv8{
  background: white;
  border: 1px solid #0282fe ;
  
 
  border-radius: 50px;
  font-size:17px;
  cursor: pointer;
  color:  #0282fe ;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

 }
 .serv8 h2{
   margin-top:20px;
 }
 .serv9
 {
   margin-top:150px;
 }
 .serv10
 {
   text-align:center;
   font-size:40px;
 }
 



      .serv14
      {
        display:flex;
        margin-left: calc(50% - 520px);
        margin-bottom:100px;
      }
      .serv14 div{
        margin:0 50px;
        margin-bottom:30px;
        text-align:center;
      }
      .work
      {
        background:black;
        background-size:cover;
        color:white;
      }
      .work1
      {
        color:white;
        font-size:40px;
        text-align:center;
        padding-top:50px;
      }
      .work2
      {
        color:white;
        text-align:center;
      }
      .work3-wrapper {
        display: flex;
        justify-content: center;
      }
      .work3
      {
        padding-top:60px;
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .work3 > div{
        margin: 0 3%;
        width: 30%;
        text-align:center;
      }
      .work7
      {
       padding-bottom:20px;
      }
      .work9
      {
        padding-top:60px;
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .work9 > div{
        margin:0 3%;
        width: 30%;
        text-align:center;
      }
      .work13
      {
       padding-bottom:20px;
      }
      .work11 > img {
        margin-left: 16px;
      }
      .work16
      {
        margin-top:50px;
        font-size:30px;
        text-align:center;
      }
      .work17
      {
        display:flex;
        margin-left: calc(50% - 210px);
        margin-top:100px;
      }
      .work17 div{
        margin:0 55px;
        margin-bottom:30px;
        text-align:center;
      }
      .work21 img{
        margin-left: calc(50% - 350px);
        margin-bottom:100px;
      }
      .end1 {
        display: flex;
        justify-content: center;
      }
      .end1 img
      {
        margin-top:100px;
        height:300px;
      }
      .socialmedia img{
       height:200px;
      }
      .social2 img
      {
        width:120px;
        height:200px;
      }
      .social1 img
      {
        width:180px;
        height:200px;
      }
      .social3 img
      {
        width:180px;
        height:200px;
      }
      .social4 img
      {
        width:120px;
        height:200px;
      }
      .socialmedia
      {
       display:flex;
       justify-content: center;
      }
      